HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### querydsl
/src/main/generated
### .http requests
.http
.http/img
.http/PortOne.http
.http/DeliveryTracker.http
.http/Jmeter.http
.DS_Store
### config file
docker/**
docker/docker-compose.yml
docker/docker-compose-monitoring.yml
docker/prometheus.yml
*.env.json
log/**
logs/**

src/main/resources/application.yml
src/main/resources/application-local.yml
src/main/resources/application-test.yml
src/main/resources/application-server.yml
src/main/resources/redisson.yaml
src/main/resources/hazelcast-custom-config.xml
src/main/resources/hazelcast-server.xml
src/main/resources/ehcache.xml
src/main/resources/server.yml
src/main/resources/application-db.yml
src/main/resources/application-config.yml

.gitmessage.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
pem/
ppk/
