<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; padding: 60px 0; color: #333; font-size: 18px;">
<table align="center" style="width: 100%; max-width: 800px; margin: 0 auto; border: 10px solid #f2f2f2; padding: 70px 14px;">
    <tr>
        <td style="font-size: 28px; font-weight: bold; color: #000; padding-bottom: 40px;">rastle_ 가상계좌 발급 안내</td>
    </tr>
    <tr>
        <td style="font-size: 16px; line-height: 24px; color: #333;">
            rastle_ 결제에대한 가상 계좌 발급 안내입니다.<br>
            아래 계좌번호로 입금을 진행해 주세요.<br>
        </td>
    </tr>
    <tr>
        <td style="padding: 50px 30px; border: 1px solid #eeeeee; text-align: center;">
            <p style="font-size: 18px; font-weight: bold;" th:text="${password}">password</p>
        </td>
    </tr>
    <tr>
        <td style="font-size: 16px; line-height: 24px; color: #333;">감사합니다.<br>rastle_</td>
    </tr>
</table>
</body>
</html>
